

.title
{
    text-align: center;
    color: rgba(0,0,0,1);
}

body
{
    background-color: rgba(7, 59, 203, 0.48);
    background-image: url(http://127.0.0.1/img/bg.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    max-width: 100%;
}

.panel
{
    background-color: rgba(0,0,0,0.78);
    border-color: rgba(5,5,5,1);
    color: rgba(0,0,0,1) !important;
}

.menu-item
{
    text-align: center;
}

p
{
    text-align: center;
}

.content
{
    background-color: #f9ecec !important;
}

