

.title
{
    text-align: center;
    color: rgba(0,0,0,1);
}

body
{
    background-color: #000000;
    color: #ffffff;
}

.panel
{
    background-color: rgba(0,0,0,0.78);
    border-color: rgba(5,5,5,1);
}

.menu-item
{
    text-align: center;
}

